h1{
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 35pxs;
}
.h2{
    color: crimson;
    font-size: 25px;
    font-weight: bold;
}
.span1{
    color: blue;
    font-size: 20px;
    font-weight: normal;
}