
/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Logo */
.logo{
    height: 25px;
}
.logoName{
    width: 70px;
    height: 25px;
}

/*Navigation bar*/
.active{
    border-bottom: 3px white;
    border-bottom-style: solid;
}

.navbar1{
    background-color: #d14352;
}

.navbar2{
    background-color: #b33b48;
}


.btn.favorcart{
    border-radius: 30px;
    font-weight: bold;
    border-style: 5px double;
    background-color: white;
    padding: 16px;
}


/* ------Carousel Sale----- */
.Sale .itemSale{
    max-width: 250px;
    height: auto;
    margin: 10px 30px 10px 30px;
    /* border box shadow item */
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
/*img Sale */
.Sale .listS {
    text-align: center;
}
/* header Sale */
.Sale .headS{
    font-weight: bolder;
    border: solid black 1px;
    color: #d14352;
    font-size: 25px;
    font-family: cursive;
    background-color: rgb(240, 238, 238);
}

/* ----Carousel NewItem---- */
.NewItem .itemNew{
    max-width: 250px;
    height: auto;
    margin: 10px 30px 10px 30px;
    /* border box shadow item */
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
/*img New */
.NewItem .listN {
    text-align: center;
}
/* header NewItem */
.NewItem .headN{
    font-weight: bolder;
    border: solid black 1px;
    color: #d14352;
    font-size: 25px;
    font-family: cursive;
    background-color: rgb(240, 238, 238);
}

/* ----Carousel BestSellers---- */
.BestS .itemBest{
    max-width: 250px;
    height: auto;
    margin: 10px 30px 10px 30px;
    /* border box shadow item */
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
/*img Best */
.BestS .listB {
    text-align: center;
}
/* header Best Sellers */
.BestS .headB{
    font-weight: bolder;
    border: solid black 1px;
    color: #d14352;
    font-size: 25px;
    font-family: cursive;
    background-color: rgb(240, 238, 238);
}


/* Left and right controls for all */
.prevControl{
    background-color: black;
    margin-left: 15px;
    margin-top: 100px;
    height: 50px;
    width: 50px;
}
.nextControl{
    background-color: black;
    margin-right: 15px;
    margin-top: 100px;
    height: 50px;
    width: 50px;
}
.prevControl .glyphicon-chevron-left {
    color: red;
    font-size: 20px;
    text-align: left;
}
.nextControl .glyphicon-chevron-right {
    color: red;
    font-size: 20px;
    text-align: right;
}
/* for max-width:900px */
@media screen and (max-width: 900px) {
    /* Left and right controls */
    .prevControl{
        margin-left: -10px;
    }
    .nextControl{
        margin-right: -10px;
    }
}
