
/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Logo */
.logo{
    height: 25px;
}
.logoName{
    width: 70px;
    height: 25px;
}

/*Navigation bar*/
.active{
    border-bottom: 3px white;
    border-bottom-style: solid;
}

.navbar1{
    background-color: #d14352;
}

.navbar2{
    background-color: #b33b48;
}


.btn.favorcart{
    border-radius: 30px;
    font-weight: bold;
    border-style: 5px double;
    background-color: white;
    padding: 16px;
}

/* ----Carousel Items---- */
.HomeItem .carousel-indicators li{
    background-color: #423f40;
}

/* Panel shadow */
.HomeItem .itemShow{
    /* border box shadow panel */
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
/*img slide item */
.HomeItem .itemShow a img{
    width: 100%;
    height: 100%;
    /* border box shadow item */
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.HomeItem .listItems {
    text-align: center;
}
/* header Item */
.HomeItem .headItem{
    font-weight: bolder;
    border: solid black 1px;
    color: #d14352;
    font-size: 25px;
    font-family: cursive;
    background-color: rgb(240, 238, 238);
}

/* Margin Product slide */
.HomeItem {
    padding-top: 66px;
    padding-bottom: 33px;
}
.HomeItem .carousel.slide .carousel-inner .item{
    padding: 20px 0px 20px 0px;
}

/*Panel Items*/
.products .panel-default{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products .panel-default:hover{
    background-color: rgb(221, 216, 216);
}

.products .panel-body{
    font-weight: bold;
    color: black;
}

.products .panel-body p{
    font-weight: bold;
    color:  #ca3a48;
}

#pdpagecaption{
    text-align: center; 
    font-size: 35px; 
    color: #d14352;
}

/* Left and right controls for all */
.prevControl{
    background-color: black;
    margin-left: 0px;
    margin-top: 180px;
    height: 50px;
    width: 50px;
}
.nextControl{
    background-color: black;
    margin-right: 0px;
    margin-top: 180px;
    height: 50px;
    width: 50px;
}
.prevControl .glyphicon-chevron-left {
    color: red;
    font-size: 20px;
    text-align: left;
}
.nextControl .glyphicon-chevron-right {
    color: red;
    font-size: 20px;
    text-align: right;
}
/* for max-width:900px */
@media screen and (max-width: 900px) {
    /* Left and right controls */
    .prevControl{
        margin-left: -10px;
    }
    .nextControl{
        margin-right: -10px;
    }
}

/* User rate */
.rate .checked{
    color: orange;
}

.rate{
    font-weight: bold;
    color:  #ca3a48;
}

.rate .rateText{
    color: black;
}
/* SHOW CART TABLE */

.show-cart li {
    display: flex;
}

.modal-footer .order{
    background-color: royalblue;
}
button.delete-item{
    background-color: rgb(182, 74, 74);
}
button.minus-item{
    border-radius: 0px;
    background-color: white;
    padding: 0px 20px 0px 10px;
}
button.plus-item{
    border-radius: 0px;
    background-color: white;
    padding: 0px 20px 0px 10px;
}

/* Sale product */
mark.markSale{
    color: goldenrod;
    background-color: black;
}
del.delPrice{
    color: black;
}

/* fix error img auto dropdown out row when resize browser */
.homeSlide {
    margin-top: -385px;
    margin-left: 223px;
}