/* Vertical menu */
.vertical-menu {
    width: 223px;
}
  
.vertical-menu .menu {
  background-color: #b33b48;
  color: white ;
  display: block;
  padding: 12px;
  text-decoration: none;
  height: 77px;
  border: 1px solid #4d1a1f;
  font-weight: bold;
  padding-top: 27px;
}

.vertical-menu a:hover {
  background-color: rgb(221, 216, 216);
  color:  #d14352;
}

.vertical-menu a.active {
  background-color: #4d1a1f;
  color: white;
}

/* Dropright menu */
.vertical-menu .rightMenu{
    position:absolute;
    float:right;
    top: -4px;
    left: 222px;
    height: 81px;
    text-align: center;
    background-color:rgb(221, 216, 216);
    font-family: fantasy;
    width: 200px;
}
.vertical-menu .rightMenu a{
  color: #d14352;
  background-color: rgb(221, 216, 216);
}
.vertical-menu .rightMenu li a:hover{
    background-color:  #d14352;
    color:  rgb(221, 216, 216);
}
.vertical-menu .rightMenu .divider{
    background-color: rgb(221, 216, 216);
    height: 1px;
}
/* Auto dropdown menu */
@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
      display: block;
    }
}

/* Caret-right */
.vertical-menu .caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: middle;
    width: 0;
}