/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Logo */
.logo{
    height: 25px;
}
.logoName{
    width: 70px;
    height: 25px;
}

/*Navigation bar*/
.active{
    border-bottom: 3px rgb(243, 182, 14);
    border-bottom-style: solid;
}

.navbar1{
    background-color: #d14352;
}

.navbar2{
    background-color: #b33b48;
}

/* Category */
/* nav-bar for mobile and tablet max-width:768px */
@media screen and (max-width: 900px) {
    .navbar3 ul {
        width: 400px;
    }
}
.navbar3 .active{
    margin-left: 95px;
}

.navbar3 .ddnav3{
    margin-left: 108px;
}

.navbar3 li a{
    color: white;
}

.navbar3 li a:hover{
    background-color: rgb(221, 216, 216);
}

.navbar3{
    background-color: white;
    border-bottom: 1px solid black;
}

.navbar3 .ddnav3 a{
    color: #d14352;
    font-weight: bolder;
}

.navbar3 ul.nav-tabs li.active a{
    cursor: pointer;
}

.btn{
    border-radius: 30px;
    font-weight: bold;
    border-style: 5px double;
    background-color: white;
    padding: 16px;
}

/*dropdown nav3*/
.ddnav3 {
    position: relative;
    display: inline-block;
  }
  
  .ddnav3 .dropdown-menu {
    display: none;
    position: absolute;
    background-color:  rgb(221, 216, 216);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .ddnav3 .dropdown-menu li a {
    color: #d14352;
    font-weight: bolder;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .ddnav3 .dropdown-menu li a:hover {
      background-color: #b33b48;
      color:  white;
    }
  
  .ddnav3:hover .dropdown-menu {display: block;}



/*Products*/

.products .panel-default{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products .panel-default:hover{
    background-color: rgb(221, 216, 216);
}

.products .panel-body{
    font-weight: bold;
    color: black;
}

.products .panel-body p{
    font-weight: bold;
    color:  #ca3a48;
}

#pdpagecaption{
    text-align: center; 
    font-size: 35px; 
    color: #d14352;
}
/* Sale product */
mark.markSale{
    color: goldenrod;
    background-color: black;
}
del.delPrice{
    color: black;
}

/*Footer*/
footer .ftlinks li a{
    color: white;
}

/* User rate */
.rate .checked{
    color: orange;
}

.rate{
    font-weight: bold;
    color:  #ca3a48;
}

.rate .rateText{
    color: black;
}

/* SHOW CART TABLE */

.show-cart li {
    display: flex;
}

.modal-footer .order{
    background-color: royalblue;
}
button.delete-item{
    background-color: rgb(182, 74, 74);
}
button.minus-item{
    border-radius: 0px;
    background-color: white;
    padding: 0px 20px 0px 10px;
}
button.plus-item{
    border-radius: 0px;
    background-color: white;
    padding: 0px 20px 0px 10px;
}